@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="Giusticontainer">
    <div ng-view></div>
</div>

<footer class="footer" style="background-color: red">
    <div class="container">
        <p class="text-muted" style="color: white">Giusti.Guia</p>
    </div>
</footer>
